[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

"watchdog[watchmedo]" = "*"
argh = "*"
pyyaml = "*"

[packages]
discord-py = "*"
environ-config = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
