[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
discord-fate-bot = { editable = true, path = "." }
pbr = "*"
twine = "*"
unittest-xml-reporting = "*"

[packages]
aiofiles = "*"
aiorun = "*"
discord = { py = "*" }
environ-config = "*"
mashumaro = "*"
motor = "*"

[requires]
python_version = "3.7"

