version: 2.1

orbs:
  docker: circleci/docker@1.0.0

jobs:
  pipenv-unittest:
    description: Run Unit Tests via Pipenv
    docker:
      - image: python:3.7-buster
    steps:
      - run:
          name: Install Pipenv
          command: |
            pip install --no-cache-dir pipenv==2018.11.26
      - checkout
      - run:
          name: Install Development Dependencies
          command: |
            pipenv sync --dev
      - run:
          name: Check for Security Vulnerabilities
          command: |
            pipenv check
      - run:
          name: Run Unit Tests
          command: |
            pipenv run python -m xmlrunner discover -o /tmp/tests-xml-output/
      - store_test_results:
          path: /tmp/tests-xml-output/

workflows:
  version: 2
  test-publish:
    jobs:
      - pipenv-unittest
      - docker/hadolint:
          ignore-rules: DL3013
      - docker/publish:
          requires:
            - pipenv-unittest
            - docker/hadolint
          filters:
            branches:
              only: master
          context: discord-fate-bot/publish
          image: $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME
          cache_from: $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME:latest
          tag: $CIRCLE_SHA1,latest

