version: 2.1

orbs:
  docker: circleci/docker@1.0.1

executors:
  discord-fate-bot-build:
    docker: 
      - image: chrisbouchard/discord-fate-bot-build:3.8

commands:
  docker-app-build:
    description: 'Build a Docker App bundle'
    parameters:
      app-name:
        type: string
      image:
        type: string
      tag:
        type: string
    steps:
      run: |
        IFS="," read -ra DOCKER_TAGS \<<< "<<parameters.tag>>"

        for tag in "${DOCKER_TAGS[@]}"; do
            docker_tag_args="$docker_tag_args -t <<parameters.image>>:${tag}"
        done

        docker app bundle <<parameters.app-name>> $docker_tag_args

  docker-app-push:
    description: 'Build a Docker App bundle'
    parameters:
      app-name:
        type: string
      image:
        type: string
      tag:
        type: string
    steps:
      run: |
        IFS="," read -ra DOCKER_TAGS \<<< "<<parameters.tag>>"

        for tag in "${DOCKER_TAGS[@]}"; do
            docker_tag_args="$docker_tag_args -t <<parameters.image>>:${tag}"
        done

        docker app push <<parameters.app-name>> $docker_tag_args

jobs:
  test:
    description: Verify that Unit Tests Pass
    executor: discord-fate-bot-build
    steps:
      - checkout
      - run:
          # TODO: Find a way to share installed deps between jobs. Add venv to
          # workspace?
          name: Install Development Dependencies
          command: |
            poetry install
      - run:
          name: Run Unit Tests
          command: |
            poetry run python -m xmlrunner discover -o /tmp/tests-xml-output/
      - store_test_results:
          path: /tmp/tests-xml-output/

  build:
    description: Build the Distribution
    executor: discord-fate-bot-build
    steps:
      - checkout
      - run:
          name: Export requirements.txt
          command: |
            poetry export --format requirements.txt --output requirements.txt
      - run:
          name: Install Development Dependencies
          command: |
            poetry install
      - run:
          name: Poetry build
          command: |
            poetry build
      - store_artifacts:
          path: dist
      - store_artifacts:
          path: requirements.txt
      - persist_to_workspace:
          root: .
          paths:
            - dist/*
            - requirements.txt

  publish-pypi:
    description: Publish to PyPI
    executor: discord-fate-bot-build
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Poetry publish
          command: |
            poetry publish

  publish-docker-hub:
    description: Publish to Docker Hub
    executor: discord-fate-bot-build
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: .
      - docker/check
      - docker/build:
          image: $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1,$CIRCLE_TAG,latest
      - docker/push:
          image: $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1,$CIRCLE_TAG,latest

  publish-app-docker-hub:
    description: Publish App to Docker Hub
    executor: discord-fate-bot-build
    steps:
      - checkout
      - setup_remote_docker
      - docker/check
      - run:
          name: Docker App Bundle
          command: |
            docker app bundle --tag $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME-app:$CIRCLE_SHA1
      - docker-app-build:
          image: $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1,$CIRCLE_TAG,latest
      - docker-app-push:
          image: $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1,$CIRCLE_TAG,latest

# Private map with some common job filter definitions.
.filters:
  all-branches-and-tags: &all-branches-and-tags
    branches:
      only: /.*/
    tags:
      only: /.*/

  only-version-tags: &only-version-tags
    branches:
      ignore: /.*/
    tags:
      only: /^\d+\.\d+\.\d+/

workflows:
  version: 2
  test-publish:
    jobs:
      - test:
          filters:
            <<: *all-branches-and-tags

      - docker/hadolint:
          filters:
            <<: *all-branches-and-tags

      - build:
          requires:
            - test
            - docker/hadolint
          filters:
            <<: *all-branches-and-tags

      - publish-pypi:
          requires:
            - build
          filters:
            <<: *only-version-tags
          context: discord-fate-bot/publish-pypi

      - publish-docker-hub:
          requires:
            - build
          filters:
            <<: *only-version-tags
          context: discord-fate-bot/publish-docker-hub

      - publish-app-docker-hub:
          requires:
            - publish-docker-hub
          filters:
            <<: *only-version-tags
          context: discord-fate-bot/publish-docker-hub

